body {
    font-family: 'Raleway', sans-serif;
}

.header{
    margin: auto;
    width: 80%;
}

.head-conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.title {
    margin: 0;
    font-size: 24px;
    color: #007aff;
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-link{
    text-decoration: none;
    color: #69727a;
    font-weight: bold;
}

.nav-link:first-child {
    margin-left: 0;
}

.active{
    color: #0a58cf;
}

a input{
    margin-left: 15px;
}

/* Hakkında Sayfası */ 

.about {
    width: 100%;
    height: auto;
    padding: 20px;
}

.top-con {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.top-con .text{
    margin-right: 50px;
}

.top-con .text label {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
}

.top-con .text,
.top-con .picture {
    flex: 1;
}

.top-con .picture img {
    max-width: 100%;
}

.top-con .text li{
    list-style-type: none;
    font-weight: 700;
    padding: 15px 20px 15px 10px;
    display: block;
    width: 100%;
}

.top-con .text .ceo-company{
    margin-top: 20px;
    background-color: #def7e5;
}

.top-con .text li img{
    margin-right: 10px;
}

.top-con .text li:first-child{
    margin-top: 20px;
}

.top-con .text li a{
    text-decoration: none;
    color: black;
    display: block;
    display: block;
}

.top-con .text li:focus{
    background-color: #def7e5;
}

.top-con .text li:hover{
    background-color: #def7e5;
    transition: all 0.5s ease;
    border-left: 10px solid #92e3a9;
    cursor: pointer;
}

.colums{
    margin-top: 9.2%;
    width: 80%;
}

.colums label{
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 10px;
}

.colums summary{
    padding: 12px 10px 12px 10px;
    list-style-type: square;
    border-bottom: 1px solid gray;
}

.colums summary:hover{
    background-color: #def7e5;
}

.colums summary:focus{
    background-color: #def7e5;
}

.colums p{
    padding: 30px 40px 10px 40px;
}

.colums .last-deta{
    margin-bottom: 80px;
}

.fas{
    margin: 20px;
    padding: 20px;
    background-color: #def7e5;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

details .contacts{
    width: 100%;
    margin: 5px auto;
}

details .contact-person{
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    width: calc(100% / 4.2);
    padding: 10px 40px 10px 40px;
}

details .contact-person:not(.last){
    border-right: 1px solid gray;
}

details .contact-person span:first-child{
    font-weight: bold;
    font-size: 24px;
}

details .contact-person #phone{
    color: gray;
}

details .contact-person input{
    margin: 15px auto;
}

